.intro {
 max-width: 288px;
 padding: 64px 0 38px;
 margin: auto;
}

.intro__title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  color: #FFFFFF;
  font-size: 32px;
  line-height: 1.07;
  margin: auto;
}

.intro__text-quote {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  color: #FFFFFF;
  margin-bottom: 0;
  max-width: 738px;
}

.intro__quote {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
  display: flex;
  justify-content: flex-end;
  max-width: 700px;
  margin: auto;
}

 .intro__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  color: #FFFFFF;
  margin-top: 32px;
  max-width: 722px;
}

@media (min-width: 768px) {
  .intro {
    max-width: 720px;
    padding: 0;
    margin: 92px auto 64px;
  }

  .intro__title {
    font-size: 45px;
    line-height: 1.09;
    max-width: 707px;
  }

  .intro__quote {
    font-size: 24px;
    line-height: 1.5;
    max-width: 720px;
    margin: 0 0 32px;
  }

  .intro__text-quote {
    font-size: 24px;
    line-height: 1.5;
    max-width: 720px;
    margin-top: 50px;
  }

  .intro__text {
    font-size: 18px;
    line-height: 1.63;
    max-width: 720px;

  }
}

@media (min-width: 1024px) {
  .intro {
    max-width: 830px;
    padding: 0;
    margin: 92px 0 118px 0;
  }

  .intro__title {
    font-size: 54px;
    line-height: 1.07;
    max-width: 830px;

  }

  .intro__quote {
    font-size: 24px;
    line-height: 1.5;
    max-width: 738px;
    margin: 0 0 32px;

  }

  .intro__text-quote {
    font-size: 24px;
    line-height: 1.5;
    max-width: 738px;
    margin-top: 40px;
  }

  .intro__text {
    font-size: 16px;
    line-height: 1.63;
    max-width: 722px;

  }
}




