@import url("../vendor/normalize.css");
@import url("../vendor/fonts.css");

@import url("../blocks/header.css");
@import url("../blocks/logo.css");
@import url("../blocks/lead.css");
@import url("../blocks/image.css");
@import url("../blocks/intro.css");
@import url("../blocks/footer.css");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #2a2c2f;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

.content {
  max-width: 984px;
  margin: 0 auto;
  padding: 0 16px;
}